Flask==2.1.2
waitress==2.1.1
itsdangerous==2.0.1
pandas==1.4.2
tqdm==4.62.3
docstring-parser==0.8.1
tensorflow-recommenders==0.6.0
tensorflow-datasets==4.5.2
tensorflow_hub==0.12.0
tensorflow-text==2.9.0
tensorflow-ranking==0.5.0
tensorflow==2.9.1
numpy==1.22.4
awswrangler==2.11.0
boto3==1.21.42
py-multibase==1.0.3
xtarfile